@import "tailwindcss";

html {
    padding: 0;
    margin: 0
}

* {
    box-sizing: content-box;
    font-family: RedHatText;
}

@font-face {
    font-family: RedHatText;
    src: url("../src/assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
}